<% if (is_home()) { %>
<%- partial('_partial/banner')%>
<% } %>

<section class="posts">
<div class="fanfouReminder seriffont index post underline-trans">
<span class="index post-excerpt" id="fanfouButton"><a><em>饭曰：</em></a></span>
<span class="index post-time"></span>
<script type="text/javascript">
fanfou_name="<%=config.fanfou_username%>";fanfou_count=5;fanfou_timeline="user";</script>
<%- js('js/timeline.js') %>
</div>
  <% var first = true%>
  <% page.posts.each(function (post) {%>
    <article class="index post underline-trans">
      <div class="index post-title">
        <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <span class="index post-excerpt"><%- post.excerpt %></p></span>
      <span class="index post-time"><%- date(post.date, config.data_format) %></span>
        <span class="index post-categories">
          <%- list_categories(post.categories, {
            show_count: false,
            class: 'article-category',
            style: 'none',
            separator: ' '
          }) %>
        </span>
        <span class="index post-tags">
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'article-tag',
            style: 'none',
            separator: ', '
          }) %>
        </span>
        <div class="clear"></div>
      </div>
      <!--
    <div class="post-meta">
        <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
      </div>
    -->
    </article>

  <% }) %>
  <% if (config.disqus_shortname) { %>
      <!-- 文件分离和变量的使用，使代码能较好的兼容 Hexo 主配置 -->
      <%- partial('_partial/disqus', {
          shortname: config.disqus_shortname
        }) %>
  <% } %>
</section>
