<article class="post markdown-body">
  <div class="post-title">
    <h1 class="title"><%= page.title %></h1>
  </div>
   <div class="post-meta">
         <% if (page.excerpt) {%>
    <blockquote><%= strip_html(page.excerpt) %></blockquote>
    <% } %>
    <%- toc(page.content, {list_number: false}) %>
    <span class="post-author">By <%= config.author %></span>
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    <span class="post-tags">
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'article-tag',
        style: 'none',
        separator: ', '
      }) %>
      <span class="post-meta-keywords">
      <%- page.meta_keywords.join(',') %>
      </span>
    </span>
</div>
  <div class="post-content">
    <%- page.more %>
  </div>
</article>

<div class='page-nav'>
<% if (page.prev) {%>
  <div class='underline-trans'>
  <a href="<%= url_for(page.prev.path) %>">◀ <%= page.prev.title %></a>
  </div>
<% } %>
<% if (page.next) {%>
  <div class='underline-trans'>
  <a href="<%= url_for(page.next.path) %>"><%= page.next.title %> ▶</a>
  </div>
<% } %>
</div>
<!-- 如果不是首页且没使用 `comments: false` 关闭评论，则尝试加载评论 -->
<% if (!is_home() && page.comments){ %>
    <!-- 配置中启用多说时，导入相应代码 -->
    <!-- 以上皆关闭且 Hexo 配置中设置了 disqus_shortname 时，导入相应代码 -->
    <% if (config.disqus_shortname) { %>
        <!-- 文件分离和变量的使用，使代码能较好的兼容 Hexo 主配置 -->
        <%- partial('_partial/disqus', {
            shortname: config.disqus_shortname
          }) %>
    <% } %>
<% } %>
