<!DOCTYPE html>
<head>
  <% var title = page.title; if (is_archive()){ title = __('archive_a'); if
  (is_month()){ title += ': ' + page.year + '/' + page.month; } else if
  (is_year()){ title += ': ' + page.year; } } else if (is_category()){ title =
  __('category') + ': ' + page.category; } else if (is_tag()){ title = __('tag')
  + ': ' + page.tag; } %>
  <title>
    <% if (title){ %><%= title %> | <% } %> <%= config.title %> - <%=
    config.subtitle %>
  </title>
  <%- css('css/style.css') %> <%- js('js/utils.js') %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="zh-cn" /> 
  <meta name="robots" content="all" />
  <meta name="author" content="<%= config.author %>" />
  <%
    let description = config.meta_description_string
    let keywords = config.meta_keywords_string
    if (page) {
      if (page.excerpt) {
        description += ', ' + strip_html(page.excerpt)
        page.tags.forEach((e)=> {
          keywords += ',' + e.toObject().name
        })
        page.categories.forEach((e)=> {
          keywords += ',' + e.toObject().name
        })
      }
      if (page.tag) {
        description += ',' + page.tag
      }
      if (page.category) {
        description += ',' + page.category
      }
      
      if (page.tag || page.category) {
        const meta_length = 150
        page.posts.forEach((e)=>{
          description += ',' + e.title
        })
        description = truncate(description, {length:meta_length})
      }
    }
  %>
  <meta name="keywords" content="<%= keywords %>" />
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if (theme.mermaid.enable) { %>
  <script src="https://unpkg.com/mermaid@<%= theme.mermaid.version %>/dist/mermaid.min.js"></script>
  <script>
    if (window.mermaid) {
      mermaid.initialize({ theme: "neutral" });
    }
  </script>
  <% } %>
</head>
